<launch>
 <arg name="rosbot_pro" default="true"/>
 <arg name="use_gazebo" default="false"/>

    <node pkg="estimate_position" type="estimate_position_node" name="estimate_position_node" output="screen">
    </node>
    <!-- ROSbot 2.0 -->
    <group unless="$(arg use_gazebo)">
    <include file="$(find rosbot_ekf)/launch/all.launch">
    <arg name="rosbot_pro" value="$(arg rosbot_pro)" />
    </include>

    <node unless="$(arg use_gazebo)" pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0 3.14 0 0 base_link laser 100" />
    </group>
</launch>