<?xml version="1.0"?>
<launch>

   <include file="$(find rosbot_ekf)/launch/all.launch"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="rosbot_ekf" clear_params="true">
    <rosparam command="load" file="$(find localization)/parameter/ekf_params_imu+odom.yaml"/>
    <remap from="odometry/filtered" to="odom"/>
  </node>
 <!-- imu-transform passiert in rosbot_ekf -->

</launch>

